<footer class="site-footer">
  <section class="drip">
    <form action="https://www.getdrip.com/forms/2303345/submissions" method="post" data-drip-embedded-form="2303345">
      <div data-drip-attribute="description"></div>
        <div>
          <input type="email" name="fields[email]" value="" placeholder="Subscribe to my writing" />
        </div>
      <div>
        <input type="submit" name="submit" value="Subscribe" data-drip-attribute="sign-up-button" />
      </div>
    </form>
  </section>

  <p class="mouse-type">This blog is <a href="http://github.com/r00k/blog">open
    source</a>. If you spot an error, I'd very much appreciate if you would <a
    href="http://github.com/r00k/blog/issues/new">open an issue</a>.

</footer>
