p.mouse-type {
  font-size: 12px;
}

h1.post-title {
  text-align: center;
}

/* For youtube embeds on mobile */
iframe {
  max-width:100%;
}

.site-title {
  font-size: 22px;
  font-family: 'Libre Baskerville', serif;
  text-decoration: underline;
}

.about-link {
  font-size: 22px;
  font-family: 'Libre Baskerville', serif;
  text-decoration: underline;
}

html { font-size: 1em;}

body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  line-height: 1.50;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: 'Libre Baskerville', serif;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

.post-link {
  font-family: 'Libre Baskerville', serif;
}
